@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'typicons';
@import 'progress';

$font: "Roboto", sans-serif;

.current-video {
	&__title {
		h2 {
			font-family: $font;
			font-weight: 700;
		}
	}

	&__holder {
		background-color: #eee;
	}
}

.lecture-list {
	&__item {
		cursor: pointer;

		h6 {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.quiz-wrapper {
	display: none;

	.quiz {
		display: none;
	}
}

.pdf-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	button {
		padding: 10px;
		margin-right: 5px;
		border-radius: 2px;
	}
}

.table {
	font-size: 18px;
	font-weight: 500;

	tr {
		th {
			font-size: inherit;
		}

		th, td {
			vertical-align: middle;
		}
	}
}